<!-- FOOTER -->
<footer class="footer py-5">
    <div class="container">
         <div class="row">

              <div class="col-lg-12 col-12">                                
                  <p class="copyright-text text-center">Copyright &copy; 2022 Tushar Khatri . All rights reserved</p>
                  <p class="copyright-text text-center">Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a> | Back-end by Tushar Khatri</p>
              </div>
              
         </div>
    </div>
</footer>