<!-- MENU -->
<nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="logo-image" src="/images/logo.png" alt="tusharkhatri.in">Tushar Khatri</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link"><span data-hover="Home">Home</span></a>
                </li>
                <li class="nav-item">
                    <a href="/projects" class="nav-link"><span data-hover="Projects">Projects</span></a>
                </li>
                <li class="nav-item">
                    <a href="/resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                </li>
                <li class="nav-item">
                    <a href="/github" class="nav-link"><span data-hover="GitHub">GitHub</span></a>
                </li>
                <li class="nav-item">
                    <a href="/newsletter" class="nav-link"><span data-hover="Newsletter">Newsletter</span></a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-lg-auto">
                <div class="ml-lg-4">
                  <div class="color-mode d-lg-flex justify-content-center align-items-center">
                    <i class="color-mode-icon"></i>
                    Color mode
                  </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
