<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="4O4 error page">
    <meta name="keywords" content="tushar khatri, 4O4 error, tusharkhatri.in">
    <meta name="author" content="Tushar Khatri">
    <meta name="google-site-verification" content="JX5ZbU1nxYBYMJ28kEfCR0hA9qqWVYSVL2_GB-rKaWA" />

    <title>4O4 Page not found</title>
    <link rel="icon" href="/images/favicon.ico">

  
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/unicons.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/css/tooplate-style.css">
    <link rel="stylesheet" href="/css/master.css">
    
<!--

-->
<!-- Script for google ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6959833510936728"
     crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- MENU -->
    <%- include('partials/menu'); %>


    <center>
    <img src="images/undraw/undraw_Page_not_found_re_e9o6.png" class="img-fluid image-404" alt="Responsive image"><br>  
    <a href="/" class="btn mr-lg-2 custom-btn">Take me to Home Page</a>
    </center>

        
   
  <!-- footer -->
  <%-include('partials/footer')%>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>