<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tushar Khatri's online resume is a great way to know more about him! You can even download the pdf and share as and when needed.">
    <meta name="keywords" content="Tushar's resume, Tushar Khatri resume, resume tushar khatri, tusharkhatri.in, node.js, full-stack developer, mern, back-end developer">
    <meta name="author" content="Tushar Khatri">
    <meta name="google-site-verification" content="JX5ZbU1nxYBYMJ28kEfCR0hA9qqWVYSVL2_GB-rKaWA" />

    <title>Resume | Tushar's Online resume</title>
    <link rel="icon" href="/images/favicon.ico">

  
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/unicons.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/css/tooplate-style.css">
    <link rel="stylesheet" href="/css/master.css">
    
<!--

-->
<!-- Script for google ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6959833510936728"
     crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- MENU -->
    <%- include('partials/menu'); %>


    <br>
    <br>
    <center>
        <div class="alert success-color" role="alert">
            Downloadable Resume will be available soon!
          </div>
    </center>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Open-source/Personal Projects</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2022</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Blogify</span><small>Node.js, Express.js, MobgoDb</small></h3>
                                  <p>An Open-source Node.js blogging Website for everyone</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Full-stack Instagram Clone</span><small>Flutter</small></h3>
                                <p>Full Stack Instagram Clone made with ❤ using Flutter & Firebase.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Educations</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2022-26</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>B.Tech in Computer Science Engineering</span><small>- Dronacharya College of Engineering</small></h3>
                                  <p>Gurugram, Haryana, India</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Grade 12</span><small>Holy Cross School</small></h3>
                                <p>82% | Najafgarh, New Delhi, India</p>
                            </div>
                        </div>
                        
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2019</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Grade 10</span><small>S.T Charles School</small></h3>
                                <p>80% | Samaspur Khalsa, New Delhi, India</p>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
   
  <!-- footer -->
  <%-include('partials/footer')%>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>