<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tushar Khatri's online resume is a great way to know more about him! You can even download the pdf and share as and when needed.">
    <meta name="keywords" content="Tushar's resume, Tushar Khatri resume, resume tushar khatri, tusharkhatri.in, node.js, full-stack developer, mern, back-end developer">
    <meta name="author" content="Tushar Khatri">
    <meta name="google-site-verification" content="JX5ZbU1nxYBYMJ28kEfCR0hA9qqWVYSVL2_GB-rKaWA" />

    <title>Resume | Tushar's Online resume</title>
    <link rel="icon" href="/images/favicon.ico">

  
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/unicons.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/css/tooplate-style.css">
    <link rel="stylesheet" href="/css/master.css">
    
<!--

-->
<!-- Script for google ads -->
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6959833510936728"
     crossorigin="anonymous"></script> -->
  </head>
  <body>

    <!-- MENU -->
    <%- include('partials/menu'); %>


    <br>
    <br>
    <center>
        <div class="alert success-color" role="alert">
            <a href="https://drive.google.com/u/0/uc?id=1vHe0au136kn8heDpnK7_T0Q0ffK86-QK&export=download" download>Click to download my latest resume!</a>
          </div>
          

    </center>


    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center><h2 class="mb-4">Tushar Khatri</h2>
                    <p><strong>+91 99682-90156  •  <a href="mailto:hello@tusharkhatri.in">hello@tusharkhatri.in</a>  •  <a href="https://blog.tusharkhatri.in/" target="_blank">blog.tusharkhatri.in</a>  •  <a href="https://github.com/tusharkhatriofficial" target="_blank">GitHub</a>/<a href="https://linkedin.com/in/tusharkhatriofficial" target="_blank">LinkedIn</a></strong> •  <a href="mailto:hello@tusharkhatri.in">live:.cid.45c5368780983150</a></p>
                </center>
                </div>
            </div>
        </div>
        </section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Experience</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2023</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span><a href="https://beyondexams.org">App Developer Intern and Mentor</a></span><small>Beyond Exams - beyondexams.org</small></h3>
                                  <p>
                                    <ol>
                                        <li>Responsible for spearheading the development of the Beyond Exams Android app for beyondexams.org</li><br>
                                        <li>Mentored college students enrolled in app development cohorts, offering expertise
                                            in Flutter app development best practices, coding standards, and project management.</li>
                                        </ol>
                                  </p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2022</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span><a href="https://www.udemy.com/user/tushar-khatri-16/">Udemy Instructor</a></span><small></small></h3>
                                <p>Self Employed.</p>
                                Established a successful career as a Udemy instructor, attracting an enrollment of over
6000 students in my courses. Published two highly-rated courses, namely "Markdown
Crash Course" and "Kotlin for Beginners," receiving excellent feedback and reviews
from students. Developed comprehensive and engaging course content, ensuring a
rewarding learning experience for students and fostering a positive learning environment.
                            </div>
                        </div>

                        <!-- <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span><a href="https://pawheroes.in/">www.pawheroes.in</a></span><small>Node.js, Firebase</small></h3>
                                <p>Pawheroes is a non-profit organization located in Delhi. Delivered a website and dashboard from where the admin can post rescue stories of dogs and reach a wide audience around the world. </p>
                            </div>
                        </div> -->

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Education</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2022-26</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>B.Tech in Computer Science Engineering</span><small>- Dronacharya College of Engineering</small></h3>
                                  <p>Gurugram, Haryana, India</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Grade 12</span><small>Holy Cross School</small></h3>
                                <p>82% | Najafgarh, New Delhi, India</p>
                            </div>
                        </div>
                        
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2019</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Grade 10</span><small>S.T Charles School</small></h3>
                                <p>80% | Samaspur Khalsa, New Delhi, India</p>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- PROJECTS SECTION -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="mb-4">PROJECTS</h2>
                    <p><a href="/projects"><strong>👁️ </strong>Projects</a></p>
                </div>
            </div>
        </div>
        </section>

    <!-- SKILLS SECTION -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="mb-4">SKILLS</h2>
                        <p><strong>Languages:</strong> Python • HTML/CSS • Javascript • Dart • SQL </p>
                        <p><strong>Libraries, Frameworks, and Tools:</strong> Node.js • Express.js • React • Redux • Bootstrap • Tailwind CSS • Github/Git • AWS Web Deployment • CI/CD • Pytorch/Tensorflow • OpenCV • NumPy • scikit-learn • MacOS/Windows</p>
                </div>
            </div>
        </div>
        </section>

        <!-- ACHIEVEMENTS SECTION -->
        <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="mb-4">ACHIEVEMENTS</h2>
                        <!-- ---------------- -->
                        <div class="single-achievement">
                        <h4>BEST PAPER/PRESENTATION AT SCOPUS-BASED ICSET</h4>
                        <h5>Kuala Lumpur, Malaysia • <small>03-04/06/2023</small></h5>
                            <p>
                                <ol>
                                    <li>Presented a pioneering research paper titled "Analytical Comparison of different
                                        types of EV on the Basis of Driving Cycle: Indian EV Scenario" at the 1349th
                                        International Conference on Science, Engineering & Technology - ICSET 2023. The
                                        paper provided a comprehensive analysis of various types of electric vehicles (EVs) in
                                        the context of Indian driving cycles, offering valuable insights for the advancement of
                                        sustainable transportation in the country.</li><br>
                                        <li>
                                            Honored with the prestigious "Best Paper Presentation Award" at the 1349th
International Conference on Science, Engineering & Technology - ICSET 2023.
This notable achievement acknowledges exceptional research aptitude, effective
communication skills, and the ability to captivate and engage the audience with
innovative ideas and findings.
                                        </li>
                                </ol>
                            </p>
                        </div>
                        <!-- ---------------- -->
                        <!-- ---------------- -->
                        <div class="single-achievement">
                            <h4>WON THE CYBERCUP 2023 HACKATHON</h4>
                            <h5>Amity University, Noida, India • <small>19/01/2023</small></h5>
                                <p>
                                    <ol>
                                        <li>Developed the web application RUOK using the LAMP stack to analyze users' health
                                            conditions. Implemented features such as data collection through parameters,
                                            questionnaires, and symptom reporting, enabling accurate disease prediction.
                                            Facilitated users in connecting with relevant doctors via offline and online video
                                            conferencing, ensuring prompt medical assistance.</li><br>
                                            <li>Expanded the functionalities of RUOK by incorporating additional features. This
                                                included hotspot tracking for communicable diseases, providing real-time information
                                                on disease outbreaks. Integrated functionalities to find nearby hospitals and
                                                determine the best routes to avoid hotspots, prioritizing user safety. Additionally,
                                                implemented statistical analysis of communicable diseases, aiding in data-driven
                                                decision-making. Recognition was achieved by winning the Healthcare category
                                                in a competitive event involving 78 teams.</li>
                                    </ol>
                                </p>
                            </div>
                            <!-- ---------------- -->
                    </div>
                </div>
            </div>
            </section>


            <!-- SKILLS SECTION -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <h2 class="mb-4">HOBBIES</h2>
                <p>Avid enthusiast of sci-fi podcasts and movies, delving into parallel universes, cosmic mysteries, and futuristic
                    narratives to fuel imagination and explore the realms of infinite possibilities</p>
                </div>
            </div>
        </div>
        </section>
   
  <!-- footer -->
  <%-include('partials/footer')%>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>